# Multiple Linear Regression

In [2]:
# importing library

import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [3]:
# import the dataset
dataset = pd.read_csv(r"D:\New folder(2)\50_Startups.csv")

In [4]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [7]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,4]

In [9]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [11]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [12]:
# if we add just 2 categori we use lable encoding
# here we have 3 caegorical in a feature convert the column into categorical colunms

states = pd.get_dummies(x['State'],drop_first=True)

In [13]:
# Drop the state column
x = x.drop('State',axis=1)

In [14]:
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [15]:
# concat the dummy variable
x=pd.concat([x,states],axis=1)

In [16]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [18]:
# splitting the dataset into the training set and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 0)

In [19]:
# fitting Multiple linear regression to the training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [20]:
# predicting the test set results
y_pred = regressor.predict(x_test)

from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [22]:
score

0.9347068473282423